node_modules/
dist/
output/
output.html
build/
*.log
*.lock.json
*.tgz
.vscode/
.DS_Store
src/hndlbrs/gen

# Lock files
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock
